@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.containerCadastro{
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}

.logo-Container{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.logo{
  height: 90px; 
}

.eye-container1Cadastro{
  position: relative;
  bottom: -15px;
}

.eye-container2Cadastro{
  position: relative;
  bottom: -15px;
}


.Olho{
  cursor: pointer; 
  margin-left: 90%;
  height: 100%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  margin-top: -13%;
  color: #F8CF2C;
}

.FormularioCadastro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TituloInput{
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.Botoes{
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.senhas{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

@media(max-width:530px){

  .eye-container1Cadastro{
    left: -18px;
    bottom: 11px;
  }

  .eye-container2Cadastro{
    left: -18px;
    bottom: 11px;
  }
}

.Lista{
  border: 1px solid #999999;
  width: 500px;
  height: 50px;
  border-radius: 8px;
  font-size:10px;
  background-color: transparent;
  outline: none;
  padding-left: 17px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #F8CF2C;
  
}
@media(max-width:530px){
  .Lista{
      width:300px;
  }
}
