@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container{
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}

.logo-Container{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.logo{
  height: 90px; 
}

.Olho{
  cursor: pointer; 
  margin-left: 90%;
  height: 100%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  margin-top: -13%;
  color: #FFFFFF;
}

.Formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:26px;
}

.TituloInput{
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.Butoes{
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
