@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container{
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}

.logo-Container{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.logo{
  height: 90px; 
}

.eye-container1{
  position: relative;
  left: 190px;
  bottom: 47px;
}

.eye-container2{
  position: relative;
  left: 190px;
  bottom: 47px;
}


.Olho{
  cursor: pointer; 
  margin-left: 90%;
  height: 100%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  margin-top: -13%;
  color: #F8CF2C;
}

.Formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.TituloInput{
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.Botoes{
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width:530px){

  .eye-container1{
    left: 95px;
  }

  .eye-container2{
    left: 95px;
  }
}
