.ImagemPerfil {
    position: relative;
    bottom:35%;
    left:30%;
  }
  
  .jogosCampeonato {
    text-align: right;
    width: 450px;
    height: 400px;
    margin-bottom:-100px;
    margin-right:-40%;
  }

  .Times {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    flex-grow: 1; /* Permite que a lista cresça verticalmente */
    margin-top:70px;
    margin-left: -250%; /* Espaço entre a lista e .jogos */
  }
  
  .Times li {
    margin: 10px 0; /* Espaçamento vertical entre os itens */
  }
  
  .logoTimes {
    height: 20px;
  }
  
  .Nomes {
    color: #F8CF2C;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
  }
  
  .linkTimes {
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #31131386;
    color: #F8CF2C;
    border: 1px solid #F8CF2C;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    height: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
  }
 