.ImagemPerfil {
    position: relative;
    top:15%;
    left:10%;
  }
  
  .jogos {
    text-align: right; /* Alinha o conteúdo à direita */
    width: 450px;
    height: 200px;
    margin-top:90px;
    margin-right:40px;
    /* Restante  dos estilos para .jogos permanece o mesmo */
  }
  
  .Times {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    flex-grow: 1; /* Permite que a lista cresça verticalmente */
    margin-top:80px;
    margin-right: -350px; /* Espaço entre a lista e .jogos */
  }
  
  .Times li {
    margin: 10px 0; /* Espaçamento vertical entre os itens */
  }
  
  .logoTimes {
    height: 20px;
  }
  
  .Nomes {
    color: #F8CF2C;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
  }
  
  .linkTimes {
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #31131386;
    color: #F8CF2C;
    border: 1px solid #F8CF2C;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    height: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
  }
 