@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.Pagina{
    width:100vw;
    height: 100vh;
    background: rgb(77,77,77);
    background: linear-gradient(180deg, rgba(77,77,77,1) 16%, rgba(14,14,14,1) 100%);
}

.Container{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.Foto{
    margin-left: 650px;
    margin-bottom: 650px;
}
.Campeonatos{
    text-align: center;
    margin-top: -5%;
    margin-left: -30%;
   
}

.Container-Pesquisa{
    margin-left: -15%;
    margin-top: -30%;
    margin-right: -30%;
    margin-bottom: 20%;
    
}

.Body{
    margin-left: -600px;
}

.BotaoPesquisa{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background-color: #31131386; 
    color: #F8CF2C; 
    border: 1px solid #F8CF2C;
    width: 100px;
    height: 30px;
}

.InputPesquisa{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background-color: #31131386; 
    color: #F8CF2C; 
    border: 1px solid #F8CF2C;
    width: 200px;
    height: 26px;
}

.FundoHome{
    height: 300vh; /* Defina a altura maior do que a tela */
    background: linear-gradient(180deg, #4d4d4d 5%, #000000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    
}

@media(max-width:920px){
    .Foto{
        left:10000px;
    }
}