@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.Lista{
    border: 1px solid #999999;
    width: 500px;
    height: 50px;
    border-radius: 8px;
    font-size:10px;
    background-color: transparent;
    outline: none;
    padding-left: 17px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #F8CF2C
}
@media(max-width:530px){
    .Lista{
        width:300px;
    }
}