@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.Form{
  background: transparent;  
  width: 20%;  
}

.TituloInput{
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.Butoes{
  width: 100%;
  display: inline-block;
}
