@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container{
  /* border:1px solid red; */
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}

.logo-Container{
  /* border:1px solid blue; */
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.logo{
  
  height: 90px; 
}



.Formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:26px;
}

.TituloInput{
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.eye-container{
  position: relative;
  left: 190px;
  bottom: 62px;
}

.Botoes{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 530px){
  .Botoes{
    flex-direction: column;
  }
  .eye-container{
    left: 95px;
  }
}
