@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container{
  /* border:1px solid red; */
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
}

.logo-Container{
  /* border:1px solid blue; */
  display: flex;
  justify-content: center;
}

.logo{
  
  height: 90px; 
}

.Form{
   
}

.Formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:26px;
}

.TituloInput{
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.Butoes{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
