.FotoJogadores{
    height: 30px;
}

.Chegaaaaa{
    display: inline-block;
    margin-right: 10px;    
}

.Container-teste{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-left: -46%;
    margin-top: 10%;
    list-style: none;
    padding: 0;
    list-style: none;
    padding: 0;
}

.ImagemNomeJogador{
    margin: 10px;
    display: flex;
    align-items: center;  
    background-color: #31131386; 
    color: #F8CF2C; 
    border: 1px solid #F8CF2C;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    width: 200px ;
    height: 35px ;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.ImagemNomeJogadorStats{
    margin: 10px;
    display: flex;
    align-items: center;  
    background-color: #410a471f; 
    color: #F8CF2C; 
    border: 1px solid #F8CF2C;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    width: 200px ;
    height: 35px ;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin-bottom: 5%;

}
.BotoesJogadoresStats{
    display: flex; 
    justify-content: space-between;
    margin-top: -40%;
    margin-left:0%;
}

.NomesJogadores{
    margin-left: 30%;
}

.Title{
    bottom:90%;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #F8CF2C;
    margin-left:46%;
    margin-bottom: 38%;
    font-size: 120%;
}

.ContainerFotoStats{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 100vh; 
  margin-top: -50%;
  color: #F8CF2C; 
  border-radius: 5px;
  margin-left: 89%; 
}
pInfo{
    width:300px;
}

.EstatisticasContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: #F8CF2C; 
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background-color: #410a471f; 
    border: 1px solid #F8CF2C;
    border-radius: 5px;
  }

@media(max-width:530px){
    .TituloTimes{
        bottom:60%;
    }
    .Container-teste{
        display:flex;
        flex-direction:column;
        margin-top: 190px;
        margin-right:20 0%;
    }
}